:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

/* Estilo global de los botones */
button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #1769aa;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
.button:hover {
  background-color: #1769aa;
}

/*Lista de apelaciones*/
.lista-contenedor {
  display: flex;
  flex-direction: column; /* Apilamos los elementos verticalmente */
  gap: 20px; /* Espacio entre los elementos */
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #CCCCCC;
  border-radius: 5px; /* Bordes redondeados */
  color: #333333;
}

.lista-apelaciones {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.lista-apelaciones th,
.lista-apelaciones td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.lista-apelaciones th {
  background-color: #4CAF50;
  color: white;
}

.lista-apelaciones tr:hover {
  background-color: #AAAAAA;
}


.item-apelacion {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #CCCCCC;
  border-radius: 5px;
  color: #333333;
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
  transition: background-color 0.3s ease; /* Añade una transición al cambiar el color de fondo */
}

.detalle-variable {
  background-color: #4CAF50; /* Verde */
  color: white; /* Texto blanco para contrastar */
  padding: 8px; /* Espaciado interior */
  font-weight: bold; /* Texto en negrita */
}

/*Estado de postulacion*/
.estado-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #CCCCCC;
  border-radius: 5px;
  color: #333333;
}

.estado-details {
  margin-top: 20px;
}

.estado-details p {
  margin-bottom: 10px;
}

.estado-apelacion {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #ffffff
}

/*Barra de navegacion*/
body {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  background-color: #FF9800;
  padding: 10px 0;
}
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.navbar-item {
  color: #fff;
  padding: 5px 10px; /* Añade un poco de padding */
}
.navbar-item.active {
  /* Estilos para el elemento li activo */
  background-color: #2196F3; /* Cambia el color de fondo a un rojo oscuro */
  color: #fff; /* Cambia el color del texto a blanco */
  border-radius: 10px; /* Añade bordes redondeados */
}
.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease; /* Añade una transición suave al cambiar el color */
}
.navbar-link:hover {
  color: #ddd;
}

/* Informacion de usuario */
.user-info {
  position: absolute;
  top: 60px;
  right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #FFFFFF
}
/* Banner de exito */
.success-banner {
  width: 20%;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  text-align: center;
}
/* Banner de error */
.error-banner {
  width: 40%;
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  text-align: center;
}

/* Estilo de los forms */
form {
  display: flex;
  flex-direction: column; /* Apilamos los elementos verticalmente */
  gap: 20px; /* Espacio entre los elementos */
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #CCCCCC;
  border-radius: 5px; /* Bordes redondeados */
  color: #333333;
}

/* Estilo del input */
form input[type="file"] {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

/* Estilo del botón de envío */
form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.becas-table {
  border-collapse: collapse;
  width: 100%;
}

.lista-apelaciones td.actions {
  width: 100px; /* Ajusta el ancho según tus preferencias */
  text-align: center; /* Centra el contenido en las celdas de acción */
}

.ver-button {
  background-color: #3498db; 
  color: white; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.eliminar-button {
  background-color: #e74c3c; 
  color: white; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo del botón de envío al pasar el mouse */
form input[type="submit"]:hover {
  background-color: #1b5e20;
}

/* Estilo del mensaje de campo obligatorio formulario */
.campo-obligatorio {
  color: red;
}

/* Estilo para el label de subida de documentos */
.label-file {
  display: inline-block;
  padding: 10px 15px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.label-file:hover {
  background-color: #0D47A1;
}

.input-file {
  margin-left: 10px;
}

/* Ventana flotante para la apelacion */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80vh; /* 90% de la altura de la ventana */
  overflow-y: auto; /* permite el desplazamiento si el contenido es demasiado grande */
  max-width: 70vh;
  padding: 20px;
  background-color: #9E9E9E; /* Color de fondo de la lista de apelaciones */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #333333; /* Color de texto de los items de la lista de apelaciones */
}

/* Estilo de los botones centrados */
.boton-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 20px auto;
}
.boton-centrado:hover {
  background-color: #0D47A1;
}

.modal button {
  margin: 10px;
}

.filtro-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filtro-container select, .filtro-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #9E9E9E;
  color: black;
}

.filtro-container input {
  flex-grow: 1;
}
/*Container de seguimiento*/
.tracking-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #CCCCCC;
  border-radius: 5px;
  color: #333333;
}
.line {
  width: 15vw; /* Ancho del 50% del contenedor */
  height: 6px;
  background-color: grey;
  position: absolute;
  top: 25%;
  right: -6vw;
  transform: translate(50%, -50%);
}
.line.active {
  background-color: green;
}
.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  border: 5px solid rgb(185, 184, 184);
}

.node.active .circle {
  background-color: green;
}
.node.active p {
  font-weight: bold;
  color: green;
}

.node.enviada .circle {
  background-color: rgb(0, 41, 128);
}
.node.enviada p {
  font-weight: bold;
  color: rgb(0, 41, 128);
}
.node.aprobada .circle {
  background-color: green;
}
.node.aprobada p {
  font-weight: bold;
  color: green;
}
.node.rechazada .circle {
  background-color: rgb(128, 0, 0);
}
.node.rechazada p {
  font-weight: bold;
  color: rgb(128, 0, 0);
}
.node.pendiente .circle {
  background-color: rgb(128, 109, 0);
}
.node.pendiente p {
  font-weight: bold;
  color: rgb(128, 119, 0);
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
}

main {
  margin: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: center;
  padding: 10px;
}

.home-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #0056b3;
}